.app-header-wrapper {
  top: 30px;
  right: 30px;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  padding: 10px 20px;

  svg {
    font-size: 30px;
    // color: #ed502e;
  }

  .dropdown-toggle::after {
    display: none !important;
  }

  .dropdown {
    button {
      background-color: $mainColor !important;
      border: none;
    }
  }

  .toggle-side-menu {
    color: $mainColor;
    cursor: pointer;
  }
}
