.app-notifigations-wrapper {
  top: 30px;
  right: 30px;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  // border: 1px solid red;
  margin-top: 30px;
  cursor: pointer;
  padding-right: 20px;

  span {
    // position: absolute;
    top: -17px;
    right: -8px;
    display: block;
    width: 20px;
    background: red;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    border-radius: 50%;
  }

  svg {
    font-size: 30px;
    // color: #ed502e;
  }

  .dropdown-toggle::after {
    display: none !important;
  }
}
