.master-dashboard-view {
  .dashboard-view-item {
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden;

    svg {
      font-size: 40px;
      color: #fff;
    }

    .about-order {
      .order-count {
        font-size: 40px;
      }
    }

    .icon-wrapper {
      height: 90px;
      display: flex;
      align-items: center;
      padding: 0 15px;
      background-color: $mainColor;
    }
  }
}

@media screen and(max-width: 550px) {
  .master-dashboard-view {
    .dashboard-view-item {
      margin-bottom: 30px;
    }
  }
}
